* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dfdfdf;
}

header {
    background-color: rgb(120, 202, 252);
    font-size: 1.7rem;
    color: #FFFFFF;
    padding: 1rem 0 1rem 2.5rem;
    font-family: 'Satoshi';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    font-weight: 700;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.navbar {
    font-family: 'Satoshi';
    background-color: rgb(199, 199, 199);
    width: 15rem;
    padding-bottom: 10rem;
    height: 100vh;
}

li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1.5rem 0 1.5rem 2.5rem;
}

li a:hover {
    background-color: #b9b7b7;
}

.nav-divider {
    border-top: 0.1rem solid #b0b0b0;
    margin: 1rem 0;
}

nav li i {
    margin-right: 1.5rem;
}

main {
    flex-grow: 1;
    padding: 2.5rem;
}

.header-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.intro {
    font-family: 'Satoshi';
}

.description {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.add-subject-button {
    font-family: 'Satoshi';
    font-size: 1rem;
    border: 0.1rem solid #000000;
    display: inline-flex;
    transition: 0.1s;
    margin-right: 5rem;
    text-decoration: none;
    padding: 2.5rem 1.5rem;
    margin-top: 2rem;
    border-radius: 1rem;
    color: #000000;  
    background-color: #dfdfdf; 
    width: 11rem;     
    align-items: center;  
    justify-content: center;
}

.add-task-button {
    font-family: 'Satoshi';
    font-size: 1rem;
    display: inline-flex;
    transition: 0.1s;
    text-decoration: none; 
    padding: 0.85rem 1.3rem;
    border-radius: 1rem;
    background-color: rgb(120, 202, 252); 
    color: #ffffff;     
    width: 9rem;   
    align-items: center;
    justify-content: center;
    border: none;
}

.add-subject-button:hover {
    background-color: rgb(193, 193, 193);
}

.add-task-button:hover {
    background-color: rgb(57, 161, 199);
}

.subjects-section {
    font-family: 'Satoshi';
}

.subjects-header {
    margin-top: 2.5rem;
    font-size: 1.7rem;
}

.tasks-container {
    width: auto;
    font-family: 'Satoshi';
    margin-top: 3rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 2rem;
}

.tasks-title {
    padding: 0 0 1.2rem 0.5rem;
    font-size: 1.5rem;
}

th {
    background-color: rgb(199, 199, 199);
    padding: 0.5rem;
}

th:first-child {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

th:last-child {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

table {
    width: 100%;
    padding-bottom: 3rem;
    border-spacing: 0;
    border-collapse: collapse;
}

.modal-header  {
    display: flex;
}

.modal-overlay {
    display: none;
    font-family: 'Satoshi';
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-box {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    z-index: 1000;
    width: 25rem;
}

.close-modal {
    padding: 0.5rem;
}

.save-btn {
    padding: 0.5rem;
}
