* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dfdfdf;
}

header {
    background-color: rgb(120, 202, 252);
    font-size: 1.7rem;
    color: #FFFFFF;
    padding: 1rem 0 1rem 2.5rem;
    font-family: 'Satoshi';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.navbar {
    font-family: 'Satoshi';
    background-color: rgb(199, 199, 199);
    width: 15rem;
    padding-bottom: 10rem;
}

li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1.5rem 0 1.5rem 2.5rem;
}

li a:hover {
    background-color: #b9b7b7;
}

.nav-divider {
    border-top: 0.1rem solid #b0b0b0;
    margin: 1rem 0;
}

nav li i {
    margin-right: 1.5rem;
}

main {
    flex-grow: 1;
    padding: 2.5rem;
}

.header-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.intro {
    font-family: 'Satoshi';
}

.description {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.button-group { 
    font-family: 'Satoshi';
}

.add-subject-button {
    display: inline-flex;
    transition: 0.1s;
    margin-right: 5rem;
    text-decoration: none;
    padding: 0.8rem 1.3rem;
    border-radius: 1rem;
    background-color: #3ace4e; 
    color: #ffffff;   
    width: 7rem;     
    align-items: center;  
    justify-content: center;
}

.add-task-button {
    display: inline-flex;
    transition: 0.1s;
    margin-right: 3rem;
    text-decoration: none; 
    padding: 0.8rem 1.3rem;
    border-radius: 1rem;
    background-color: rgb(120, 202, 252); 
    color: #ffffff;     
    width: 7rem;   
    align-items: center;
    justify-content: center;
}

.add-subject-button:hover {
    background-color: rgb(43, 159, 31);
}

.add-task-button:hover {
    background-color: rgb(57, 161, 199);
}

