{% extends "layout.html" %}

{% block title %}Edit Profile | Deadline{% endblock %}

{% block content %}

<div class="header-section">
    <div class="intro">
        <h1>Edit Profile</h1>
        <p>Update your account details</p>
    </div>
</div>

<div class="user-information">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="auth-error">{{ messages[0] }}</div>
        {% endif %}
    {% endwith %}
    <form method="POST" action="/edit-profile">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="{{ session['username'] }}" required>
        </div>
        <div>
    
        </div>
    </form>
</div>

{% endblock %}