{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="header-section">
    <div class="intro">
        <h1>Welcome to Deadline</h1>
        <h2 class="description">Manage your subjects, tasks and assignments</h2>
    </div>
    <div class="button-group">
        <a href="/add-subject" class="add-subject-button"><i class="fa-solid fa-plus"></i> Add Subject</a>
        <a href="/add-task" class="add-task-button"><i class="fa-solid fa-plus"></i> Add Task</a>
    </div>
</div>

{% endblock %}
