<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title> <!-- page title set by each template -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"> <!-- favicon icon in browser tab -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- link to css file -->
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap" rel="stylesheet"> <!-- import satoshi font -->
    <script src="https://kit.fontawesome.com/ada09c2be0.js" crossorigin="anonymous"></script> <!-- import icons -->
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{{ url_for('static', filename='images/favicon.png') }}" class="header-logo" alt="Logo">
            <a href="/">Deadline</a>
        </div>
    </header>
    <!-- navigation bar -->
    <div class="main-container">
        <nav class="navbar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="/subjects"><i class="fa-solid fa-book"></i>Subjects</a></li>
                <li><a href="javascript:void(0)" id="open-subject-modal-btn"><i class="fa-solid fa-plus"></i>Add Subject</a></li>
                <hr class="nav-divider">
                <li><a href="/tasks"><i class="fa-solid fa-list-check"></i>Tasks</a></li>
                <li><a href="javascript:void(0)" id="open-task-modal-btn"><i class="fa-solid fa-calendar-plus"></i>Add Task</a></li>
            </ul>
        </nav>

        <!-- main content -->
        <main>
        {% block content %}{% endblock %}
        </main>

    </div> 
    <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- link to javascript file -->
</body>
</html>