<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ada09c2be0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        Deadline
    </header>
    <!-- navigation bar -->
    <div class="main-container">
        <nav class="navbar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href=""><i class="fa-solid fa-book"></i>Subjects</a></li>
                <li><a href=""><i class="fa-solid fa-plus"></i>Add Subject</a></li>
                <hr class="nav-divider">
                <li><a href=""><i class="fa-solid fa-list-check"></i>Tasks</a></li>
                <li><a href=""><i class="fa-solid fa-calendar-plus"></i>Add Task</a></li>
            </ul>
        </nav>

        <main>
        {% block content %}{% endblock %}
        </main>

    </div> 
</body>
</html>