{% extends "layout.html" %}

{% block title %}Profile | Deadline{% endblock %} <!-- sets page title -->

{% block content %}

<!-- header -->
<div class="header-section">
    <div class="intro">
        <h1>Profile</h1>
        <p>View your account information and statistics</p>
    </div>
</div>
<div class="user-information">
    <div class="profile-avatar">{{ session['username'][0].upper() }}{{ session['username'][1].upper() if session['username']|length > 1 else '' }}</div>
    <div class="profile-username">{{ session['username'] }}</div>
    <div class="join-date">Joined {{ join_date }}</div>
</div>

{% endblock %}