{% extends "layout.html" %}

{% block title %}Tasks | Deadline{% endblock %}

{% block content %}

<!-- header -->
<div class="header-section">
    <div class="intro">
        <h1>Tasks</h1>
        <p>All of your tasks and assignments in one place</p>
    </div>
    <div class="button-group">
        <button id="open-task-modal-btn" class="add-task-btn"><i class="fa-solid fa-plus"></i> Add Task</button>
    </div>
</div>

<!-- task list -->
<div class="task-list">
    {% if tasks %}
        {% for task in tasks %}
            
        {% endfor %}
    {% endif %}
</div>

{% endblock %}