{% extends "layout.html" %}

{% block title %}Tasks | Deadline{% endblock %} <!-- sets page title -->

{% block content %}

<!-- header -->
<div class="header-section">
    <div class="intro">
        <h1>Tasks</h1>
        <p>Manage, sort and filter your upcoming assignments</p>
    </div>
    <div class="button-group">
        <button id="open-task-modal-btn" class="add-task-btn"><i class="fa-solid fa-plus"></i> Add Task</button>
    </div>
</div>

<!-- task list -->
<div class="task-list-container">
    <div class="tasks-toolbar">
        <button class="filter-subject-btn">Filter by subject <i class="fa-solid fa-chevron-down"></i></button>
        <div class="status-options">
            <button class="all-status-btn">All</button> 
            <button class="pending-status-btn">Pending</button>
            <button class="overdue-status-btn">Overdue</button>
            <button class="complete-status-btn">Complete</button>
        </div>
        <button class="sort-btn">Sort by <i class="fa-solid fa-chevron-down"></i></button>
    </div>
    <table class="task-list">
        <tr class="list-headers">
            <th class="name-header">Task Name</th>
            <th class="subject-header">Subject</th>
            <th class="date-header">Due Date</th>
            <th class="action-header">Actions</th>
        </tr>
        {% if tasks %}
            {% for task in tasks %}
                <td>{{ task[1] }}</td>
                <td>{{ task[3] }}</td>
                <td>{{ task[2] }}</td>
            {% endfor %}
        {% endif %}
    </table>
        {% if not tasks %}  
            <div class="tasks-page-no-tasks-msg">
                <p>You have no tasks, add a task</p> <!-- tells user to add a task if they have none -->
            </div>
        {% endif %}
</div>

{% endblock %}