{% extends "layout.html" %}

{% block title %}Tasks | Deadline{% endblock %} <!-- sets page title -->

{% block content %}

<!-- header -->
<div class="header-section">
    <div class="intro">
        <h1>Tasks</h1>
        <p>Manage, sort and filter your upcoming assignments</p>
    </div>
    <div class="button-group">
        <button id="open-task-modal-btn" class="add-task-btn"><i class="fa-solid fa-plus"></i> Add Task</button>
    </div>
</div>

<!-- task list -->
<div class="task-list-container">
    <div class="tasks-toolbar">
        <button class="filter-subject-btn">Filter by subject <i class="fa-solid fa-chevron-down"></i></button>
        <div class="status-options">
            <button class="status-btn">All</button>
            <button class="status-btn">Pending</button>
            <button class="status-btn">Overdue</button>
            <button class="status-btn">Complete</button>
        </div>
        <button class="sort-btn">Sort by <i class="fa-solid fa-chevron-down"></i></button>
    </div>
    <div class="list-headers">
        <p>Task Name</p>
        <p>Subject</p>
        <p>Due Date</p>
        <p>Actions</p>
    </div>
    <div class="task-list">
        {% if tasks %}
            {% for task in tasks %}
                w
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}